Repository acm-ucr/acm-atlas, pull requests merged in 2022-07, with the labels that each got.

#57 Dummy Branch
  components/About/Vision.js
  components/About/WhatWeDo.js
  components/Home/Home.js
  pages/events/index.js
Labels: Home, About Us

#69 Set up file structure for footer
  components/Footer/Footer.js
Labels: Footer

#68 Add forms page and index.js
  .husky/pre-commit
  components/Forms/DUMMY.js
  components/Forms/empty
  pages/forms/index.js
  pages/join.js
Labels: Forms

#72 Sarah rami27/footer/routing
  components/Footer/Footer.js
Labels: Footer

#73 Vwong031/about/gallery
  components/About/Gallery.js
  package-lock.json
  package.json
  public/image1.jpg
  public/image10.jpg
  public/image2.jpg
  public/image3.jpg
  public/image4.jpg
  public/image5.jpg
  public/image6.jpg
  public/image7.jpg
  public/image8.jpg
  public/image9.jpg
  yarn.lock
Labels: About Us
