Repository acm-ucr/acm-atlas, pull requests merged in 2023-01, with the labels that each got.

#423 Update Website
  components/CalendarEvents.js
  components/Profile.js
  components/StudentOrgs.js
  components/Upcoming.js
  components/data/Events.js
  components/data/Filters.js
  components/data/Organizations.js
  pages/join.js
Labels: READY FOR REVIEW

#433 Updated Rosehack logo
  public/rosehack.jpg
  public/rosehack.png
Labels: Join Us, READY FOR REVIEW

#430 Image Optimization
  components/data/Board.js
  components/data/Organizations.js
  public/acm-ucr-logo.png
  public/acm-workshop.jpg
  public/alex.jpg
  public/andy.jpg
  public/ashley.jpg
  public/ashwin.jpg
  public/ccc.png
  public/chevron.png
  public/cindy.jpg
  public/citrushack.jpg
  public/citrushack.png
  public/cutiehack.png
  public/cyberucr.png
  public/david.jpg
  public/designucr.jpg
  public/discussion-professors.jpg
  public/discussion.jpg
  public/divyank.jpg
  public/gamespawnwhite.jpg
  public/ieee.png
  public/johnnie.jpg
  public/johnnie.png
  public/joshua.jpg
  public/justin.jpg
  public/keyboard.png
  public/meeting.png
  public/panel.png
  public/presentation-workflow.png
  public/presentation1.jpg
  public/presentation4.jpg
  public/presentation6.png
  public/presentation7.png
  public/rivera-library.png
  public/sachin.jpg
  public/samarth.jpg
  public/samarth.png
  public/solarcar.jpg
  public/swe.png
  public/ticsucr.jpg
  public/ticsucr.png
  public/uas.png
  public/vinz.jpeg
  public/vinz.png
  public/winc.jpg
  public/winc.png
Labels: Home, Join Us, About Us, Board, READY FOR REVIEW

#432 Added page titles
  pages/about.js
  pages/board.js
  pages/events.js
  pages/join.js
Labels: Events, Join Us, About Us, Board, READY FOR REVIEW

#440 Added GM Events
  components/data/Events.js
Labels: Events, Adding an Event, General Meeting

#457 Removed GM Prefix
  components/Footer.js
  components/data/Events.js
Labels: Events

#456 Added zoom link to events
  components/Modal.js
  components/data/Events.js
Labels: Events, READY FOR REVIEW, General Meeting

#459 Added food social
  components/data/Events.js
Labels: Events, READY FOR REVIEW, Adding an Event, Social

#458 Added DBS
  components/data/Events.js
Labels: Events, READY FOR REVIEW, Adding an Event, Technical Workshop

#462 Opens New Tab For Footer Links
  components/Footer.js
Labels: Home

#463 Changed org logos
  components/data/Organizations.js
  public/citrushack.jpg
  public/citrushack.png
  public/cutiehack.png
Labels: Join Us, READY FOR REVIEW

#470 Made Some Event Titles Shorter/Abbreviated
  components/data/Events.js
Labels: Events

#471 Removed Blocks and Vercel Files
  public/blocks.svg
  public/vercel.svg
Labels: Home, Events, Join Us, About Us, Board, Navigation

#473 Implemented 404 Page
  pages/404.js
Labels: Respository

#480 Fixed DSS workshop
  components/data/Events.js
Labels: Technical Workshop

#490 Added next/Link
  components/Navigation.js
Labels: Navigation, READY FOR REVIEW
