Repository acm-ucr/acm-atlas, pull requests merged in 2023-05, with the labels that each got.

#634 Added rmate to projects
  components/data/Projects.js
Labels: Home

#635 Renamed Project to BitByBit
  components/data/Projects.js
Labels: Home

#642 Shrinked navbar a bit
  components/Landing.js
  components/Navigation.js
Labels: Navigation

#647 Login button takes to Membership Portal
  components/Navigation.js
  cypress/e2e/navbar_pCheck.cy.js
Labels: Navigation

#648 On Mobile: Collapsed Menu After A Link Is Chosen
  components/Navigation.js
  cypress/e2e/board_pCheck.cy.js
  cypress/e2e/calendar_pCheck.cy.js
  cypress/e2e/faq_pCheck.cy.js
  cypress/e2e/gallery_pCheck.cy.js
  cypress/e2e/navbar_pCheck.cy.js
  cypress/e2e/org_pCheck.cy.js
  cypress/e2e/upcomingEvents_pCheck.cy.js
  cypress/e2e/vision_pCheck.cy.js
  cypress/e2e/whatWeDo_pCheck.cy.js
  cypress/e2e/whyWeDo_pCheck.cy.js
Labels: Navigation

#651 New Nav Bar Size
  components/Landing.js
  components/Navigation.js
Labels: Navigation

#653 Linked upcoming events and limited events shown
  components/CalendarEvents.js
  components/Upcoming.js
  pages/events.js
  pages/index.js
Labels: Home, Events

#652 Add ieee website
  components/data/Projects.js
Labels: Home
